<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://code.alibabatech.com/schema/dubbo
        				http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 以下页面不被拦截 -->
    <http pattern="/shoplogin.html" security="none"></http>
    <http pattern="/shoplogin_error.html" security="none"></http>
    <http pattern="/register.html" security="none"></http>
    <!--商家注册不拦截-->
    <http pattern="/seller/save" security="none"></http>
    <!--配置静态资源不拦截-->
    <http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>

    <!-- 页面拦截规则，先配置不使用SPEL表达式 -->
    <http use-expressions="false">
        <!--拦截所有的请求，要求必须先登录，并且登录成功的用户必须具有管理员的权限-->
        <intercept-url pattern="/**" access="ROLE_SELLER" />
        <!--拦截的具体规则-->
        <form-login
                login-page="/shoplogin.html"
                default-target-url="/admin/index.html"
                authentication-failure-url="/shoplogin_error.html"
                always-use-default-target="true" />

        <!--关闭跨域攻击-->
        <csrf disabled="true" />

        <!--退出-->
        <logout logout-url="/logout" logout-success-url="/shoplogin.html"/>

        <!-- iframe策略 -->
        <headers>
            <frame-options policy="SAMEORIGIN" />
        </headers>
    </http>
    <!--配置密码加密对象-->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!--由于注解方式无法注入，所以使用配置文件bean注入-->
    <beans:bean id="userDetailsService" class="com.yzw.controller.userDetailsServiceImpl"/>
    <!--配置认证管理器-->
    <authentication-manager>
        <!--配置账号密码验证服务类，从数据库中取值校验-->
        <authentication-provider user-service-ref="userDetailsService">
            <!--引入密码加密对象-->
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>