<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzw.mapper.BrandMapper">

    <!--查询所有数据-->
    <select id="findAll" resultType="Brand">
        select * from tb_brand
    </select>

</mapper>