<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品审核</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<!--引入angularJS-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!--引入分页js-->
	<script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
	<!--引入分页的css样式-->
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!--引入对应的js-->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/goodsController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="legou" ng-controller="goodsController" ng-init="searchEntity={auditStatus:'0'};findAllItemCat()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品审核</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="审核通过" ng-click="updateAuditStatus('1')" ><i class="fa fa-check"></i> 审核通过</button>
                                        <button type="button" class="btn btn-default" title="驳回" ng-click="updateAuditStatus('2')" ><i class="fa fa-ban"></i> 驳回</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    商品名称：<input >
									<button class="btn btn-default" >查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>

			                          <tr ng-repeat="pojo in list">
			                              <td><input type="checkbox" ng-click="updateSelection($event,pojo.id)" ></td>
										  <td>{{pojo.id}}</td>
										  <td>{{pojo.goodsName}}</td>
										  <td>{{pojo.price}}</td>
										  <td>{{itemCatList[pojo.category1Id]}}</td>
										  <td>{{itemCatList[pojo.category2Id]}}</td>
										  <td>{{itemCatList[pojo.category3Id]}}</td>
										  <td>{{status[pojo.auditStatus]}}</td>
		                                  <td class="text-center">                                          
		                                 	  <button type="button" class="btn bg-olive btn-xs" >详情</button>                  
		                                  </td>
			                          </tr>

			                      </tbody>
			                  </table>

			                  <!--数据列表/-->
								<tm-pagination conf="paginationConf"/>
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
        
</body>

</html>